body {
    background: WhiteSmoke;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.box {
    background: White;
    border: solid WhiteSmoke;
    padding: 1.5rem;
    margin: 0rem;
}

nav {
    background: White;
    border: solid WhiteSmoke;
    padding: 1.5rem 4em 0 4em;
    margin: 0;
    height: 4em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.cart-item {
    justify-content: left;
    gap: 3em;
    flex-grow: 1;
    flex-basis: 0;
}


.container-vertical {
    display: flex;
    flex-direction: column;
}

#item-list {
    justify-content: center;
    gap: 2em;
    padding: 2rem;
}

.container-wide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart_interaction > p {
    margin: 0 0.5rem;
}

#cart img {
    width: 30%;
}


#cart_interaction button {
    width: 2em;
    height: 2em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}



#item-view {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4em auto 2em 4em 4em auto;
    grid-template-areas:
    "image name"
    "image description"
    "image price"
    "image amount"
    "image buy"
    "image .";
    gap: 0 2em;
    justify-items: left;
}

/*

@media (max-width: 1530px) {
    #item-view {
        display: grid;
        grid-template-columns: 20em 11em 8em auto;
        grid-template-rows: auto 10% 3em 10%;
        grid-template-areas:
        "image image image image"
        "description . name price"
        "description buy total  ."
        "description return . .";

    }
}*/

#checkout {
  position: -webkit-sticky;
  position: sticky;
  top: 5em;
  bottom: 20em;
  /* bring your own prefixes */
/*  transform: translate(-50%, -50%);*/
    width: fit-content(20em);

    border: solid WhiteSmoke;
/*
    position: -webkit-sticky;
    position: sticky;
    top: 40%;
    bottom: 40vh

    align-self: start;


*/

}

#checkout button {
    font-family: 'Scope One', sans-serif;
}

#item-view > img {
    grid-area: image;
    width: 100%;
}

.buy-item {
    grid-area: buy;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.buy-item button {
    width: 100%;
    border-radius: 0;
    padding: .3em .3em;
    font-family: 'Scope One', sans-serif;
    border: solid silver;
}

.buy-item button:hover {
    border-color: Black;
}


#name {
    grid-area: name;
    margin: 0;
}

.name {
    font-family: 'Scope One', serif;
}

.price {
    grid-area: price;
    font-family: 'Open Sans', sans-serif;
}

.amount {
    grid-area: amount;
}

.total {
    grid-area: total;
}

.item-description {
    grid-area: description;
}

.back {
    grid-area: return;
    padding: 0 1.5rem;

}

.item:hover {
    border-color: Black;
}



