<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
    <div>
        {% for item in items %}
            <a href="{{url_for('item', name_url=item.url)}}">
                <img src="static/placeholder.png">
                <h3>{{ item.name}} ||| {{ cart_dict[item.id] }}</h3>
            </a>
        {% endfor %}
    </div>
    <div>
        {% if items %}
            <button>Checkout</button>
        {% else %}
            <button disabled>Checkout</button>
        {% endif %}
    </div>
</body>
</html>